textarea {
    text-align: left;
    border-radius: 5px;
    width: 50vw;
    height: 20vh;
}
input {
    border-radius: 5px;
}
label {
    font-size: 20px
}
.major {
    margin-left: 4vw;
    margin-top: 7vh;
    margin-bottom: 2vh
}
h3 {
    margin-left: 40px;
    display: inline-block;
}
h2 {
    margin-left: 40px;
    margin-top: 60px;
}